@page "/"
@page "/{home:bool}"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<div class="top-row px-4">
    <a href="" class="ml-md-auto btn-link" @onclick='() => setCurrentGroup("mammals")'>Mammals</a>
    <a href="" class="ml-md-auto btn-link" @onclick='() => setCurrentGroup("reptiles")'>Reptiles</a>
    <a href="" class="ml-md-auto btn-link" @onclick='() => setCurrentGroup("birds")'>Birds</a>
    <a href="" class="ml-md-auto btn-link" @onclick='() => setCurrentGroup("insects")'>Insects</a>
    <a href="" class="ml-md-auto btn-link" @onclick='() => setCurrentGroup("plants")'>Plants</a>
    <a href="" class="ml-md-auto btn-link" @onclick='() => setCurrentGroup("mushrooms")'>Mushrooms</a>
    <a href="" class="ml-md-auto btn-link" @onclick='() => setCurrentGroup("environment")'>Environment</a>
</div>
@if (CurrentGroup == null || Home == true)
{
    <h3 class="mt-4">Welcome to Sari's nature related chat service!</h3>
    Home = false;
}
else
{
    <ChatGroup GroupName=@CurrentGroup HubConnection=@HubConnection Messages=@getGroupMessages(CurrentGroup) />
}

@code {
    public HubConnection HubConnection;
    public List<Tuple<string, string>> Messages = new List<Tuple<string, string>>();
    public string CurrentGroup;

    [Parameter]
    public Boolean Home { get; set; }

    private string userInput;
    private string messageInput;


    private List<string> getGroupMessages(string groupName)
    {
        return Messages?.Where(m => m.Item1 == groupName)?.Select(m => m.Item2)?.ToList();

    }

    private void setCurrentGroup(string groupName)
    {
        CurrentGroup = groupName;

    }

    protected override async Task OnInitializedAsync()
    {
        HubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();

        HubConnection.On<string, string, string>("ReceiveMessage", (user, message, groupName) =>
        {
            var encodedMsg = $"{user}: {message}";
            Messages.Add(Tuple.Create(groupName, encodedMsg));
            StateHasChanged();
        });

        await HubConnection.StartAsync();
    }


    public async ValueTask DisposeAsync()
    {
        if (HubConnection is not null)
        {
            await HubConnection.DisposeAsync();
        }
    }
}
