.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row a button, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        border: none;
        background-color: transparent;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

.circle {
    display: inline-block;
    height: 16px;
    width: 16px;
    line-height: 15px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 3px;
    padding: 1px;

    background-color: lightsteelblue;
    color: white;
    text-align: center;
    font-size: 0.9em;
}
