@page "/{GroupName}"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager

<h1 class="mt-4 mb-4">@GroupName</h1>
<div class="form-group">
    <div>User:</div>
    <input @bind="userInput" size="40" />
</div>
<div class="form-group">
    <div>Message:</div>
    <textarea @bind="messageInput" rows="5" />
</div>
<button class="btn-primary" @onclick="Send" disabled="@(!IsConnected)">Send</button>

<hr>

<ul id="messagesList">
    @if (Messages != null)
    {
        @foreach (var message in Messages)
        {
            <li>@message</li>
        }
    }
</ul>

@code {
    private string userInput;
    private string messageInput;

    [Parameter]
    public List<string>? Messages { get; set; }
    [Parameter]
    public string GroupName { get; set; }
    [Parameter]
    public HubConnection HubConnection { get; set; }

    protected override void OnParametersSet()
    {
        messageInput = null;
    }


    async Task Send() =>
await HubConnection.SendAsync("SendMessage", userInput, messageInput, GroupName);

    public bool IsConnected =>
        HubConnection?.State == HubConnectionState.Connected;
}
